@import (less) './less/mixins.less';
@import './less/mixins.less';
@import './less/variable.less';

* {
  margin: @margin-default;
  padding: @padding-default;
}

body {
  font-family: @font-family-default;
  margin: @margin-default;
  padding: @padding-default;
}

:root {
  margin: @margin-default;
  padding: 0px;
  box-sizing: border-box;
  orientation: @orientation-app;
  .gradiente-bg(@cor-inicio, @cor-meio, @cor-fim)
}
